html,
body {
  margin: 0;
  padding: 0;
}

#es-mixa.es-mixa {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  max-width: 998px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #000;
  background: #fff;
}
#es-mixa.es-mixa * {
  box-sizing: border-box;
}
#es-mixa.es-mixa h2,
#es-mixa.es-mixa h3,
#es-mixa.es-mixa h4,
#es-mixa.es-mixa h5 {
  font-family: "Montserrat", sans-serif;
  color: #000;
}
#es-mixa.es-mixa .es-kv {
  margin-bottom: 32px;
}
#es-mixa.es-mixa .es-kv__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-mixa.es-mixa .es-kv__img--plus {
  position: absolute;
  top: 50%;
  left: -140px;
  z-index: -1;
  transform: translateY(-48%);
}
#es-mixa.es-mixa .es-kv__logo {
  padding: 16px;
  opacity: 0;
  animation: slidedown 0.6s forwards;
}
#es-mixa.es-mixa .es-kv__logo--dt {
  display: none;
}
#es-mixa.es-mixa .es-kv__photo {
  position: relative;
  margin: 0 auto;
}
#es-mixa.es-mixa .es-kv__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  bottom: 20px;
  right: 20px;
  position: absolute;
  text-align: right;
  color: #fff;
  font-size: 23px;
  font-weight: 300;
}
#es-mixa.es-mixa .es-kv__wrapper {
  padding: 16px;
}
#es-mixa.es-mixa .es-kv__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#es-mixa.es-mixa .es-kv__packshot {
  padding-top: 20px;
  position: relative;
  z-index: 1;
  max-width: 220px;
  margin: 0 auto;
  opacity: 0;
  animation: slidedown 0.8s 0.4s forwards;
}
#es-mixa.es-mixa .es-kv__name {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 4px 16px;
  margin-bottom: 8px;
  opacity: 0;
  animation: slideright 0.6s 0.8s forwards;
}
#es-mixa.es-mixa .es-kv__number {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 58px;
  color: #0084d3;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  margin-bottom: 4px;
}
#es-mixa.es-mixa .es-kv__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 18px;
  color: #0084d3;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 4px;
  padding-left: 16px;
}
#es-mixa.es-mixa .es-kv__texts :nth-child(2)::before,
#es-mixa.es-mixa .es-kv__texts :nth-child(3)::before {
  content: "+ ";
  position: absolute;
  margin-left: -20px;
}
#es-mixa.es-mixa .es-kv__label {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  background: #0084d3;
}
#es-mixa.es-mixa .es-kv__disc {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-align: center;
  color: #0084d3;
}
#es-mixa.es-mixa .es-benefits {
  margin-bottom: 32px;
}
#es-mixa.es-mixa .es-benefits__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-mixa.es-mixa .es-benefits__img--image {
  margin-left: 0;
}
#es-mixa.es-mixa .es-benefits__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 16px;
  gap: 16px;
}
#es-mixa.es-mixa .es-benefits__icon {
  transition: all 0.6s;
}
#es-mixa.es-mixa .es-benefits__benefit {
  width: 200px;
}
#es-mixa.es-mixa .es-benefits__benefit:hover .es-benefits__icon {
  transform: translateX(-8px);
}
#es-mixa.es-mixa .es-benefits__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-align: center;
  padding: 16px 0;
}
#es-mixa.es-mixa .es-features {
  margin-bottom: 32px;
}
#es-mixa.es-mixa .es-features__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-mixa.es-mixa .es-features__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  padding: 16px;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
}
#es-mixa.es-mixa .es-features__container {
  display: flex;
  flex-flow: column;
}
#es-mixa.es-mixa .es-features__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 16px;
  gap: 32px;
}
#es-mixa.es-mixa .es-features__icon {
  transition: all 0.6s;
}
#es-mixa.es-mixa .es-features__feature {
  width: 200px;
}
#es-mixa.es-mixa .es-features__feature:hover .es-features__icon {
  transform: translateX(-8px);
}
#es-mixa.es-mixa .es-features__point {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  padding: 16px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}
#es-mixa.es-mixa .es-features__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-align: center;
}
#es-mixa.es-mixa .es-features__image {
  order: -1;
}
#es-mixa.es-mixa .es-formula {
  margin-bottom: 32px;
}
#es-mixa.es-mixa .es-formula__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-mixa.es-mixa .es-formula__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  padding: 16px;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
#es-mixa.es-mixa .es-formula__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px 8px;
}
#es-mixa.es-mixa .es-formula__single {
  width: 302px;
  transition: all 0.3s;
}
#es-mixa.es-mixa .es-formula__container .es-formula__single {
  opacity: 1;
}
#es-mixa.es-mixa .es-formula__container:hover .es-formula__single {
  opacity: 0.8;
}
#es-mixa.es-mixa .es-formula__container .es-formula__single:hover {
  opacity: 1;
}
#es-mixa.es-mixa .es-formula__tile {
  position: relative;
  margin-bottom: 24px;
}
#es-mixa.es-mixa .es-formula__label {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 70, 166, 0.8);
  padding: 16px 8px;
  width: 70%;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
#es-mixa.es-mixa .es-formula__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-align: center;
}
#es-mixa.es-mixa .es-routine {
  margin-bottom: 32px;
}
#es-mixa.es-mixa .es-routine__container {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#es-mixa.es-mixa .es-routine__single {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-wrap: balance;
  width: 300px;
}
#es-mixa.es-mixa .es-routine__line {
  width: 100%;
  height: 4px;
  margin-block: 30px;
  position: relative;
}
#es-mixa.es-mixa .es-routine__line--1 {
  border: 4px solid #4cb1ed;
}
#es-mixa.es-mixa .es-routine__line--2 {
  border: 4px solid #0084d3;
}
#es-mixa.es-mixa .es-routine__line--3 {
  border: 4px solid #035b90;
}
#es-mixa.es-mixa .es-routine__number {
  font-weight: 700;
  font-size: 30px;
  background-color: #FFF;
  border-radius: 99px;
  width: 48px;
  height: 48px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  top: 0;
  transition: all 400ms;
}
#es-mixa.es-mixa .es-routine__number--1 {
  color: #4cb1ed;
  border: 4px solid #4cb1ed;
}
#es-mixa.es-mixa .es-routine__number--2 {
  color: #0084d3;
  border: 4px solid #0084d3;
}
#es-mixa.es-mixa .es-routine__number--3 {
  color: #035b90;
  border: 4px solid #035b90;
}
#es-mixa.es-mixa .es-routine__number:hover {
  top: -10px;
}
#es-mixa.es-mixa .es-cross {
  margin-bottom: 32px;
}
#es-mixa.es-mixa .es-cross__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-mixa.es-mixa .es-cross__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  padding: 16px;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
#es-mixa.es-mixa .es-cross__product {
  display: flex;
  flex-flow: column;
}
#es-mixa.es-mixa .es-cross__product:hover .es-cross__packshot {
  transform: scale(1.025);
}
#es-mixa.es-mixa .es-cross__packshot {
  order: -1;
  transition: all 0.6s;
}
#es-mixa.es-mixa .es-cross__content {
  padding: 16px;
  position: relative;
  padding-left: 80px;
  z-index: 1;
}
#es-mixa.es-mixa .es-cross__content:hover .es-cross__number {
  transform: translateY(-8px);
}
#es-mixa.es-mixa .es-cross__number {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: #0084d3;
  opacity: 0.3;
  font-weight: 700;
  font-size: 180px;
  line-height: 1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.6s;
}
#es-mixa.es-mixa .es-cross__step {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 23px;
  text-transform: uppercase;
  padding-bottom: 12px;
  border-bottom: 2px solid #0084d3;
  font-weight: 700;
  display: inline-block;
}
#es-mixa.es-mixa .es-cross__text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  padding-top: 24px;
  padding-bottom: 16px;
}
#es-mixa.es-mixa .es-cross__link {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  display: inline-block;
  color: #fff;
  background: #0761a9;
  padding: 10px 32px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 8px;
  transition: all 0.3s;
}
#es-mixa.es-mixa .es-cross__link:hover {
  background: #0084d3;
}
@media screen and (min-width: 768px) {
  #es-mixa.es-mixa .es-kv__content {
    justify-content: space-between;
  }
  #es-mixa.es-mixa .es-kv__bottom {
    margin-bottom: 32px;
  }
  #es-mixa.es-mixa .es-kv__logo--mb {
    display: none;
  }
  #es-mixa.es-mixa .es-kv__logo--dt {
    display: block;
  }
  #es-mixa.es-mixa .es-kv__container {
    display: flex;
  }
  #es-mixa.es-mixa .es-kv__photo {
    flex: 1;
  }
  #es-mixa.es-mixa .es-kv__img--photo {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    width: 100%;
  }
  #es-mixa.es-mixa .es-kv__img--plus {
    scale: 1.1;
    left: -189px;
    top: 69%;
  }
  #es-mixa.es-mixa .es-kv__packshot {
    margin-right: -32px;
    margin-left: 133px;
    padding-top: 60px;
  }
  #es-mixa.es-mixa .es-kv__wrapper {
    display: flex;
  }
  #es-mixa.es-mixa .es-kv__texts {
    position: relative;
    z-index: 1;
    margin-left: -40px;
  }
  #es-mixa.es-mixa .es-benefits__container {
    display: flex;
    align-items: center;
  }
  #es-mixa.es-mixa .es-benefits__image {
    flex: 1;
  }
  #es-mixa.es-mixa .es-benefits__content {
    flex: 1;
  }
  #es-mixa.es-mixa .es-benefits__benefit {
    display: flex;
    gap: 32px;
    width: auto;
    align-items: center;
  }
  #es-mixa.es-mixa .es-benefits__text {
    text-align: left;
  }
  #es-mixa.es-mixa .es-benefits__icon {
    min-width: 90px;
  }
  #es-mixa.es-mixa .es-benefits__content {
    flex-flow: column;
    gap: 32px;
  }
  #es-mixa.es-mixa .es-features__title {
    margin-bottom: 64px;
  }
  #es-mixa.es-mixa .es-features__container {
    flex-flow: row;
    align-items: flex-end;
  }
  #es-mixa.es-mixa .es-features__image {
    flex: 1;
    order: 2;
  }
  #es-mixa.es-mixa .es-features__content {
    flex: 1;
    gap: 48px;
  }
  #es-mixa.es-mixa .es-features__feature {
    display: flex;
    gap: 32px;
    width: auto;
    align-items: center;
  }
  #es-mixa.es-mixa .es-features__text, #es-mixa.es-mixa .es-features__point {
    text-align: left;
  }
  #es-mixa.es-mixa .es-features__point {
    padding: 0;
    padding-bottom: 16px;
  }
  #es-mixa.es-mixa .es-features__icon {
    min-width: 90px;
  }
  #es-mixa.es-mixa .es-formula__title {
    margin-block: 64px;
  }
  #es-mixa.es-mixa .es-routine__container {
    flex-direction: row;
    align-items: flex-start;
  }
  #es-mixa.es-mixa .es-routine__single {
    width: 33%;
  }
  #es-mixa.es-mixa .es-routine__imgCtn {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  #es-mixa.es-mixa .es-routine__imgCtn img {
    max-height: 100%;
    max-width: 100%;
  }
  #es-mixa.es-mixa .es-cross {
    padding: 0 40px;
    margin-bottom: 120px;
  }
  #es-mixa.es-mixa .es-cross__title {
    margin-block: 64px;
  }
  #es-mixa.es-mixa .es-cross__product {
    align-items: center;
    flex-flow: row;
    margin-bottom: 64px;
  }
  #es-mixa.es-mixa .es-cross__product:nth-child(even) {
    flex-flow: row-reverse;
  }
  #es-mixa.es-mixa .es-cross__content {
    flex: 1;
    flex-basis: 50%;
    padding-left: 156px;
  }
  #es-mixa.es-mixa .es-cross__packshot {
    flex: 1;
    flex-basis: 50%;
  }
  #es-mixa.es-mixa .es-cross__number {
    font-size: 268px;
    top: -20px;
  }
}

@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideright {
  from {
    opacity: 0.3;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideleft {
  from {
    opacity: 0.3;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}/*# sourceMappingURL=style.css.map */